# Node specific
node_modules/
npm-debug.log

# Environment variables and config files
.env
*_config.js

# OS files
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Build and log files
*.log